{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<main>
    <div class="container-fluid px-4">
        <h3>Controle Chaves</h3>
        <hr>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalRegistroChave">
            Adicionar Registro
        </button>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalSetor">
            Adicionar Setor
        </button>
        
        <!-- Modal Chave-->
        <form method="POST" action="{% url 'controle_chave' %}">
            {% csrf_token %}
        <div class="modal fade" id="ModalRegistroChave" tabindex="-1" aria-labelledby="ModalRegistroChaveLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="ModalRegistroChaveLabel">Registro Visitante</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-8">
                                <label class="form-label">Funcionário</label>
                                {% render_field form.funcionario type="text" class="form-control" %}
                            </div>
                            
                            <div class="col-4">
                                <label class="form-label">Setor</label>
                                {% render_field form.setor class="form-control" %}
                            </div>
                            <div class="col-4">
                                <label class="form-label">Hora Entrega</label>
                                {% render_field form.registro_entrega type="datetime-local" class="form-control" %}
                            </div>  
                            <div class="col-4">
                                <label class="form-label">Hora Recebida</label>
                                {% render_field form.registro_recebimento type="datetime-local" class="form-control" %}
                            </div>
                            <div class="col-4">
                                <label class="form-label">Matricula</label>
                                {% render_field form.matricula type="text" class="form-control" %}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="submit" name="formControleChave" class="btn btn-primary">Salvar</button>
                </div>
            </div>
            </div>
        </div>
        </form>
        
        <!-- Modal Setor -->
        <form method="POST" action="{% url 'controle_chave' %}">
            {% csrf_token %}
        <div class="modal fade" id="ModalSetor" tabindex="-1" aria-labelledby="ModalSetorLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="ModalSetorLabel">Adicionar Setor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-12">
                                <label class="form-label">Setor</label>
                                {% render_field form_setor.nome class="form-control" %}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="submit" name="formSetor" class="btn btn-primary">Salvar</button>
                </div>
            </div>
            </div>
        </div>
        </form>
        <br><br>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Registros de entrega e recebimento das chaves
            </div>
            <div class="card-body">
                <div class="table-responsive">
                <table class="table table-hover" id="tableControleChave">
                    <thead>
                        <tr>
                            <th>Funcionário</th>
                            <th>Setor</th>
                            <th>Registro Entrega</th>
                            <th>Registro Recebimento</th>
                            <th>Matricula</th>
                            <th>Porteiro</th>
                            <th>Ação</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for chave in chaves %}
                        <tr>
                            <td>{{chave.funcionario}}</td>
                            <td>{{chave.setor}}</td>
                            <td>{{chave.registro_entrega | date:"d/m/Y H:m"}}</td>
                            {% if chave.registro_recebimento != None %}
                            <td>{{chave.registro_recebimento | date:"d/m/Y H:m"}}</td>
                            {% else %}
                            <td><i style="color: #b11727;" class="bi bi-exclamation-circle-fill"></i></td>
                            {% endif %}
                            <td>{{chave.matricula}}</td>
                            <td>{{chave.porteiro}}</td>
                            {% if chave.registro_recebimento == None %}
                            <td>
                                <button onclick="finalizarSaida({{chave.id}});" name="btn-finalizar"
                                    class="btn btn-danger" value="{{chave.id}}">Registrar Recebimento</button>
                            </td>
                            {% else %}
                            <th class="animate__animated animate__flash"><i style="color: green;" class="bi bi-check-square-fill"></i></th>
                            {% endif %}
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Your Website 2023</div>
            <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
{% block scripts %}
<script>
    function finalizarSaida(id) {
        var url = "{% url 'finalizar_entrega_chave' %}"
        $.confirm({
            title: 'Aviso',
            content: 'Deseja continuar ?',
            buttons: {
                info: {
                    text: 'Confirmar Recebimento da chave',
                    btnClass: 'btn-success',
                    action: function () {
                        $.ajax({
                            url: url,
                            type: "POST",
                            data: {
                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                                'id': id,
                            },
                            success: function(){
                                Swal.fire({
                                    title:'Registro salvo com sucesso.',
                                    icon: 'success',
                                    confirmButtonText: 'OK',
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        location.reload()
                                    }
                                })
                            },
                        })
                    },
                },
                warning: {
                    text: 'Cancelar',
                    btnClass: 'btn-warning',
                    action: function () {
                        location.reload();
                    }
                },

            }
        })
    }

</script>
{% endblock %}