<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Registros de entrega e recebimento das chaves
    </div>
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-hover" id="relatorioChave">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Funcionário</th>
                    <th>Setor</th>
                    <th>Registro Entrega</th>
                    <th>Registro Recebimento</th>
                    <th>Matricula</th>
                    <th>Porteiro</th>
                </tr>
            </thead>

            <tbody>
                {% for chave in consulta_chave %}
                <tr>
                    <td>{{chave.id}}</td>
                    <td>{{chave.funcionario}}</td>
                    <td>{{chave.setor}}</td>
                    <td>{{chave.registro_entrega | date:"d/m/Y H:m"}}</td>
                    <td>{{chave.registro_recebimento | date:"d/m/Y H:m"}}</td>
                    <td>{{chave.matricula}}</td>
                    <td>{{chave.porteiro}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>